div {
    display: flex;
    flex-direction: column;    
    padding-bottom: 20px;
}

button {
    display: flex;
}

@media all and (min-width: 600px) {
    div {
        margin: 0 200px;
    }
}